<body data-spy="scroll" data-target="#navigation" data-offset="80" class=" pace-done"><div class="pace  pace-inactive"><div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
  <div class="pace-progress-inner"></div>
</div>
<div class="pace-activity"></div></div>


        <section id="home" class="home-video video-fall full-screen-dem" data-stellar-background-ratio="0.5" style="position: relative; background-position: 50% 0px;"><span id="controlBar_video" class="mb_YTVPBar inlinePlayer" style="white-space: nowrap; position: absolute; z-index: 1000;"><div class="buttonBar"><span class="mb_YTVPPlaypause ytpicon">P</span><span class="mb_YTVPMuteUnmute ytpicon">A</span><span class="mb_YTVPTime">00 : 19 / 01 : 01</span><span class="mb_YTVPUrl ytpicon" title="view on YouTube">Y</span><span class="mb_OnlyYT ytpicon">O</span></div><div class="mb_YTVPProgress" style="position: absolute;"><div class="mb_YTVPLoaded" style="position: absolute; left: 0px; width: 100%;"></div><div class="mb_YTVTime" style="position: absolute; left: 0px; width: 593.361px;"></div></div></span><div class="mbYTP_wrapper" id="wrapper_mbYTP_video" style="position: absolute; z-index: 0; min-width: 100%; min-height: 100%; left: 0px; top: 0px; overflow: hidden; opacity: 1;"><iframe id="mbYTP_video" class="playerBox" style="position: absolute; z-index: 0; width: 2462.2px; height: 1172px; top: 0px; left: 0px; overflow: hidden; opacity: 1; margin-top: -105px; margin-left: -278.6px;" frameborder="0" allowfullscreen="1" title="YouTube video player" width="640" height="360" src="https://www.youtube.com/embed/R55e-uHQna0?autoplay=0&amp;modestbranding=1&amp;controls=0&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1&amp;version=3&amp;playerapiid=mbYTP_video&amp;origin=http%3A%2F%2Fbootstraplovers.com&amp;allowfullscreen=true&amp;wmode=transparent&amp;iv_load_policy=3&amp;html5=1&amp;widget_referrer=http%3A%2F%2Fbootstraplovers.com%2Ftemplates%2Fcodeon-v3.2%2F"></iframe><div class="YTPOverlay" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;"></div></div>
            <div class="parallax-overlay"></div> 
              <a id="video" class="player mb_YTVPlayer isMuted" data-property="{videoURL:'http://youtu.be/R55e-uHQna0',containment:'#home', showControls:true, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, quality:'default'}" style="display: none; position: relative; background-image: none;"></a>

            <div class="home-content text-center">
                <div class="container">
                    <h1 class=" slide-logo">Codeon</h1>
                    <div class="main-flex-slider">
                        <ul class="slides">
                            <li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0.714025; display: block; z-index: 1;">
                                <h1>LET'S WORK TOGETHER</h1>

                            </li>
                            <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0.285975; display: block; z-index: 2;" class="flex-active-slide">
                                <h1>web design agency</h1>

                            </li>
                            <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;" class="">
                                <h1>Clean Modern design</h1>

                            </li>
                        </ul>
                    </div> 
                    <h2 class="slide-btm-text">Codeon FOR DESIGN AGENCIES - BUSINESS AND CORPORATE</h2>
                    <div class="home-arrow-down text-center">
                        <p class="scrollto"><a href="#about" class="btn btn-lg btn-theme-color">let's Start </a></p>
                    </div>
                </div>
            </div>
        </section>
        <section id="navigation">
           <div id="undefined-sticky-wrapper" class="sticky-wrapper" style="height: 60px;"><div class="navbar navbar-default navbar-static-top sticky" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="demo-default.html">codeon</a>
                    </div>
                    <div class="navbar-collapse collapse" style="max-height: 912px;">

                        <ul class="nav navbar-nav navbar-right scrollto">
                            <li class="active"><a href="#home">Home</a></li>
                            <li class=""><a href="#about">About</a></li>
                            <li class=""><a href="#services">Services</a></li>
                            <li><a href="#work">Work</a></li>

                            <li class="dropdown">
                                <span data-toggle="dropdown" class="dropdown-toggle js-activated">Pages <b class="caret"></b></span>
                                <ul class="dropdown-menu">
                                    <li><a href="blog-list.html">Blog List</a></li>
                                    <li><a href="blog-post.html">Blog Post</a></li>
                                    <li><a href="portfolio-3.html">Portfolio 3 columns</a></li>
                                    <li><a href="portfolio-full.html">Portfolio Full width</a></li>
                                    <li><a href="portfolio-masonry.html">Portfolio Masonry</a></li>
                                    <li><a href="single-work.html">Portfolio Single</a></li>
                                    <li><a href="soon.html">Coming Soon</a></li>
                                      <li class="dropdown-submenu">
                                        <a tabindex="-1" href="#">Third level Menu</a>
                                        <ul class="dropdown-menu">
                                            <li><a tabindex="-1" href="#">Second level</a></li>
                                            <li class="dropdown-submenu">
                                                <a href="#">Even More..</a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">3rd level</a></li>
                                                    <li><a href="#">3rd level</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Second level</a></li>
                                            <li><a href="#">Second level</a></li>
                                        </ul>
                                    </li>
                                </ul>                               
                            </li>
                            <li><a href="#pricing">Pricing</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <li class="dropdown">
                                <span data-toggle="dropdown" class="dropdown-toggle js-activated">Demos <b class="caret"></b></span>
                                <ul class="dropdown-menu">
                                    <li><a href="demo-default.html">Slider revolution</a></li>
                                    <li><a href="video-slider.html">Slider Video</a></li>
                                    <li><a href="fullscreen-parallax-bg-demo.html">Full screen parallax</a></li>
                                    <li><a href="demo-video-bg.html">Video background</a></li>                                   
                                    <li><a href="transparent-header-demo.html">Header transparent</a></li>
                                        <li><a href="soon.html">Coming Soon</a></li>
                                    <li><a href="fullscreen-nav.html">Full screen menu</a></li>
                                </ul>                               
                            </li>

                        </ul>

                    </div><!--/.nav-collapse -->
                </div><!--/.container -->
            </div></div>
        </section><!--navigation section end here-->
        <section id="about" class="padding-80">

            <!--about page content-->
            <div class="about-section">
                <div class="container">
                    <div class="section-heading text-center">
                        <h4 class="small section-title"><span>We love what we do?</span></h4>
                        <h2 class="large section-title">About us</h2>
                    </div><!--section heading-->             

                </div><!--container-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="about-box wow animated fadeInDown animated" data-wow-duration="0.3s" style="visibility: visible; animation-duration: 0.3s; animation-name: fadeInDown;">
                                <div class="about-box-icon">
                                    <i class="fa fa-lightbulb-o"></i>
                                </div>
                                <div class="about-box-text">
                                    <h4>Creative ideas </h4>
                                    <p>
                                        Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus. Cras porttitor massa
                                    </p>
                                </div>
                            </div><!--about us box end-->
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="about-box wow animated fadeInDown animated" data-wow-delay="0.5" style="visibility: visible; animation-name: fadeInDown;">
                                <div class="about-box-icon">
                                    <i class="fa fa-code"></i>
                                </div>
                                <div class="about-box-text">
                                    <h4>Clean Code</h4>
                                    <p>
                                        Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus. Cras porttitor massa
                                    </p>
                                </div>
                            </div><!--about us box end-->
                        </div>
                    </div><!--about services row end--> 
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="about-box wow animated fadeInDown animated" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInDown;">
                                <div class="about-box-icon">
                                    <i class="fa fa-image"></i>
                                </div>
                                <div class="about-box-text">
                                    <h4>Unique Designs </h4>
                                    <p>
                                        Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus. Cras porttitor massa
                                    </p>
                                </div>
                            </div><!--about us box end-->
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="about-box wow animated fadeInDown animated" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInDown;">
                                <div class="about-box-icon">
                                    <i class="fa fa-hand-o-up"></i>
                                </div>
                                <div class="about-box-text">
                                    <h4>Creative Team </h4>
                                    <p>
                                        Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus. Cras porttitor massa
                                    </p>
                                </div>
                            </div><!--about us box end-->
                        </div>
                    </div><!--about services row end--> 
                    <div class="about-section-more">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="about-more-info wow animated fadeInUp animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="skills-wrapper wow animated bounceIn animated" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: bounceIn;">
                                    <h3 class="heading-progress">Web Design <span class="pull-right">88%</span></h3>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 88%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="88" role="progressbar">
                                        </div>
                                    </div>
                                    <h3 class="heading-progress">Web Development <span class="pull-right">78%</span></h3>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 78%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="78" role="progressbar">
                                        </div>
                                    </div>
                                    <h3 class="heading-progress">Marketing <span class="pull-right">82%</span></h3>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 82%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="82" role="progressbar">
                                        </div>
                                    </div>                    
                                </div>
                            </div>
                        </div>
                        <div class="row easy-pie-chart-row">
                            <div class="col-sm-3 text-center">
                                <div class="progress-circle">

                                    <div class="chart" data-percent="95" data-scale-color="#9eca45">
                                        <span>95%</span>
                                        <canvas height="120" width="120"></canvas>
                                    <canvas height="120" width="120"></canvas></div>
                                    <p class="progress-text">HTML5 / CSS3</p>
                                </div>
                            </div>
                            <div class="col-sm-3 text-center">
                                <div class="progress-circle">

                                    <div class="chart" data-percent="85" data-scale-color="#9eca45">
                                        <span>85%</span>
                                        <canvas height="120" width="120"></canvas>
                                    <canvas height="120" width="120"></canvas></div>
                                    <p class="progress-text">WORDPRESS</p>
                                </div>
                            </div>
                            <div class="col-sm-3 text-center">
                                <div class="progress-circle">

                                    <div class="chart" data-percent="75" data-scale-color="#9eca45">
                                        <span>75%</span>
                                        <canvas height="120" width="120"></canvas>
                                    <canvas height="120" width="120"></canvas></div>
                                    <p class="progress-text">Jquery</p>
                                </div>
                            </div>
                            <div class="col-sm-3 text-center">
                                <div class="progress-circle">

                                    <div class="chart" data-percent="89" data-scale-color="#9eca45">
                                        <span>89%</span>
                                        <canvas height="120" width="120"></canvas>
                                    <canvas height="120" width="120"></canvas></div>
                                    <p class="progress-text">Photoshop</p>
                                </div>
                            </div>

                        </div>

                    </div><!--section about 3 end-->
                </div>
            </div>

            <div class="purchase-now parallax" data-stellar-background-ratio="0.5" style="background-position: 50% 1032px;">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8">
                            <h1 class="wow animated fadeInLeft animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">Using Design as a <strong>Business</strong> Strategy</h1>
                        </div>
                        <div class="col-sm-4">
                            <a href="#" class="btn btn-lg btn-theme-color wow animated bounceIn animated" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: bounceIn;"> Purchase Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--page about content end here-->            
        </section>
        <!--about section end here-->

        <!--section services start here-->

        <section id="services" class="padding-80">


            <div class="services-section-1">
                <div class="container">
                    <div class="section-heading text-center">
                        <h4 class="small section-title"><span>What we do?</span></h4>
                        <h2 class="large section-title">Our Services</h2>
                    </div><!--section heading-->             

                </div><!--container-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="margin-btm-40">
                                <h4>Flexibility built in</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget viverra augue. Nunc dignissim rutrum tempor. Donec vitae dolor lectus. Etiam facilisis rutrum vestibulum. In at ligula vitae lectus porta posuere vel vel est. Aliquam interdum mi vitae arcu fermentum iaculis. Sed feugiat.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 wow animated fadeInLeft animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">

                            <div class="row margin-btm-20">
                                <div class="col-md-2">
                                    <div class="services-icon">
                                        <i class="fa fa-image"></i>
                                    </div> 
                                </div>
                                <div class="col-md-10">
                                    <div class="services-info">
                                        <h3>Website design</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget viverra augue. Nunc dignissim rutrum tempor. 
                                        </p>
                                    </div>
                                </div>
                            </div><!--.services row end-->
                            <div class="row margin-btm-20">
                                <div class="col-md-2">
                                    <div class="services-icon">
                                        <i class="fa fa-plane"></i>
                                    </div> 
                                </div>
                                <div class="col-md-10">
                                    <div class="services-info">
                                        <h3>Marketing </h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget viverra augue. Nunc dignissim rutrum tempor. 
                                        </p>
                                    </div>
                                </div>
                            </div><!--.services row end-->
                            <div class="row margin-btm-20">
                                <div class="col-md-2">
                                    <div class="services-icon">
                                        <i class="fa fa-leaf"></i>
                                    </div> 
                                </div>
                                <div class="col-md-10">
                                    <div class="services-info">
                                        <h3>Logo design </h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget viverra augue. Nunc dignissim rutrum tempor. 
                                        </p>
                                    </div>
                                </div>
                            </div><!--.services row end-->
                            <div class="row margin-btm-20">
                                <div class="col-md-2">
                                    <div class="services-icon">
                                        <i class="fa fa-paper-plane"></i>
                                    </div> 
                                </div>
                                <div class="col-md-10">
                                    <div class="services-info">
                                        <h3>Search engine optimization(seo) </h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget viverra augue. Nunc dignissim rutrum tempor. 
                                        </p>
                                    </div>
                                </div>
                            </div><!--.services row end-->
                        </div>
                        <div class="col-md-6 wow animated fadeInRight animated" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInRight;">

                            <div class="row margin-btm-20">
                                <div class="col-md-2">
                                    <div class="services-icon">
                                        <i class="fa fa-image"></i>
                                    </div> 
                                </div>
                                <div class="col-md-10">
                                    <div class="services-info">
                                        <h3>Website design</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget viverra augue. Nunc dignissim rutrum tempor. 
                                        </p>
                                    </div>
                                </div>
                            </div><!--.services row end-->
                            <div class="row margin-btm-20">
                                <div class="col-md-2">
                                    <div class="services-icon">
                                        <i class="fa fa-plane"></i>
                                    </div> 
                                </div>
                                <div class="col-md-10">
                                    <div class="services-info">
                                        <h3>Marketing </h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget viverra augue. Nunc dignissim rutrum tempor. 
                                        </p>
                                    </div>
                                </div>
                            </div><!--.services row end-->
                            <div class="row margin-btm-20">
                                <div class="col-md-2">
                                    <div class="services-icon">
                                        <i class="fa fa-leaf"></i>
                                    </div> 
                                </div>
                                <div class="col-md-10">
                                    <div class="services-info">
                                        <h3>Logo design </h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget viverra augue. Nunc dignissim rutrum tempor. 
                                        </p>
                                    </div>
                                </div>
                            </div><!--.services row end-->
                            <div class="row margin-btm-20">
                                <div class="col-md-2">
                                    <div class="services-icon">
                                        <i class="fa fa-paper-plane"></i>
                                    </div> 
                                </div>
                                <div class="col-md-10">
                                    <div class="services-info">
                                        <h3>Search engine optimization(seo) </h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget viverra augue. Nunc dignissim rutrum tempor. 
                                        </p>
                                    </div>
                                </div>
                            </div><!--.services row end-->
                        </div>
                    </div>
                </div>
            </div><!--services section 1 end-->
            <div class="services-section-2 parallax" data-stellar-background-ratio="0.5" style="background-position: 50% 1623px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1>Subscribe to Newsletter</h1>
                            <form class="newsletter-form">
                                <div class="row">
                                    <div class="col-sm-4 col-sm-offset-4">
                                        <div class="input-group">
                                            <label class="sr-only" for="subscribe-email">Email address</label>
                                            <input type="email" class="form-control" id="subscribe-email" placeholder="Enter your email">
                                            <span class="input-group-btn">
                                                <button type="submit" class="btn btn-theme-color btn-lg">OK</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!--services section 1 end-->
        </section>
        <!--section services end here-->




        <!--our work section start here-->
        <section id="work" class="padding-80">

            <div class="work-section-1">
                <div class="container">
                    <div class="section-heading text-center">
                        <h4 class="small section-title"><span>Latest portfolio</span></h4>
                        <h2 class="large section-title">Our work</h2>
                    </div><!--section heading-->
                </div>                
                <div class="container">
                    <ul class="filter list-inline">
                        <li><a class="active" href="#" data-filter="*">Show All</a></li>
                        <li><a href="#" data-filter=".photography">Photography</a></li>
                        <li><a href="#" data-filter=".illustration">illustration</a></li>
                        <li><a href="#" data-filter=".branding">branding</a></li>
                        <li><a href="#" data-filter=".web-design">web design</a></li>
                    </ul>
                    <div class="row">
                        <div class="portfolio-box iso-call work-col-4" style="position: relative; height: 536px;">
                            <div class="project-post photography branding" style="position: absolute; left: 0px; top: 0px;">
                                <a href="single-work.html">
                                        <div class="image-wrapper">
                                            <img src="img/sec-img2.jpg" class="img-responsive" alt="work-1">
                                            <div class="image-overlay">
                                                <p>
                                                    View Detail
                                                </p>
                                            </div><!--.image-overlay-->
                                        </div><!--.image-wrapper-->                                      
                                    </a>
                                    <div class="work-sesc">
                                        <p>
                                            Graphics Design
                                        </p>
                                    </div><!--.work-desc-->
                            </div><!--project post-->
                            <div class="project-post illustration web-design" style="position: absolute; left: 292px; top: 0px;">
                               <a href="single-work.html">
                                        <div class="image-wrapper">
                                            <img src="img/sec-img2.jpg" class="img-responsive" alt="work-1">
                                            <div class="image-overlay">
                                                <p>
                                                    View Detail
                                                </p>
                                            </div><!--.image-overlay-->
                                        </div><!--.image-wrapper-->                                      
                                    </a>
                                    <div class="work-sesc">
                                        <p>
                                            Illustrate
                                        </p>
                                    </div><!--.work-desc-->
                            </div><!--project post-->
                            <div class="project-post photography web-design" style="position: absolute; left: 585px; top: 0px;">
                               <a href="single-work.html">
                                        <div class="image-wrapper">
                                            <img src="img/sec-img3.jpg" class="img-responsive" alt="work-1">
                                            <div class="image-overlay">
                                                <p>
                                                    View Detail
                                                </p>
                                            </div><!--.image-overlay-->
                                        </div><!--.image-wrapper-->                                      
                                    </a>
                                    <div class="work-sesc">
                                        <p>
                                            Logo Design
                                        </p>
                                    </div><!--.work-desc-->
                            </div><!--project post-->

                            <div class="project-post branding" style="position: absolute; left: 877px; top: 0px;">
                                <a href="single-work.html">
                                        <div class="image-wrapper">
                                            <img src="img/sec-img4.jpg" class="img-responsive" alt="work-1">
                                            <div class="image-overlay">
                                                <p>
                                                    View Detail
                                                </p>
                                            </div><!--.image-overlay-->
                                        </div><!--.image-wrapper-->                                      
                                    </a>
                                    <div class="work-sesc">
                                        <p>
                                            HTML5
                                        </p>
                                    </div><!--.work-desc-->
                            </div><!--project post-->
                            <div class="project-post  illustration" style="position: absolute; left: 0px; top: 268px;">
                                <a href="single-work.html">
                                        <div class="image-wrapper">
                                            <img src="img/sec-img5.jpg" class="img-responsive" alt="work-1">
                                            <div class="image-overlay">
                                                <p>
                                                    View Detail
                                                </p>
                                            </div><!--.image-overlay-->
                                        </div><!--.image-wrapper-->                                      
                                    </a>
                                    <div class="work-sesc">
                                        <p>
                                            Magento
                                        </p>
                                    </div><!--.work-desc-->
                            </div><!--project post-->

                            <div class="project-post  branding" style="position: absolute; left: 292px; top: 268px;">
                                <a href="single-work.html">
                                        <div class="image-wrapper">
                                            <img src="img/sec-img6.jpg" class="img-responsive" alt="work-1">
                                            <div class="image-overlay">
                                                <p>
                                                    View Detail
                                                </p>
                                            </div><!--.image-overlay-->
                                        </div><!--.image-wrapper-->                                      
                                    </a>
                                    <div class="work-sesc">
                                        <p>
                                            Photoshop
                                        </p>
                                    </div><!--.work-desc-->
                            </div><!--project post-->


                            <div class="project-post   web-design" style="position: absolute; left: 585px; top: 268px;">
                                <a href="single-work.html">
                                        <div class="image-wrapper">
                                            <img src="img/sec-img7.jpg" class="img-responsive" alt="work-1">
                                            <div class="image-overlay">
                                                <p>
                                                    View Detail
                                                </p>
                                            </div><!--.image-overlay-->
                                        </div><!--.image-wrapper-->                                      
                                    </a>
                                    <div class="work-sesc">
                                        <p>
                                           Illustrate
                                        </p>
                                    </div><!--.work-desc-->
                            </div><!--project post-->

                            <div class="project-post  branding" style="position: absolute; left: 877px; top: 268px;">
                                 <a href="single-work.html">
                                        <div class="image-wrapper">
                                            <img src="img/sec-img8.jpg" class="img-responsive" alt="work-1">
                                            <div class="image-overlay">
                                                <p>
                                                    View Detail
                                                </p>
                                            </div><!--.image-overlay-->
                                        </div><!--.image-wrapper-->                                      
                                    </a>
                                    <div class="work-sesc">
                                        <p>
                                            Wordpress
                                        </p>
                                    </div><!--.work-desc-->
                            </div><!--project post-->
                        </div>
                    </div>
                </div><!--container-->


            </div><!--work section 1-->
            <!--testimonials-->
               <div class="testi parallax " data-stellar-background-ratio="0.5" style="background-position: 50% 2245.5px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <div id="testi-carousel" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                                <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 4500px; left: 0px; display: block; transition: all 0ms ease; transform: translate3d(0px, 0px, 0px);"><div class="owl-item" style="width: 750px;"><div>
                                    <img src="img/t-1.jpg" alt="">
                                    <h4>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia.
                                    </h4>
                                    <p>Kris watson</p>
                                </div></div><div class="owl-item" style="width: 750px;"><div>
                                    <img src="img/t-2.jpg" alt="">
                                    <h4>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia.
                                    </h4>
                                    <p>Daniel faulkner</p>
                                </div></div><div class="owl-item" style="width: 750px;"><div>
                                    <img src="img/t-3.jpg" alt="">
                                    <h4>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia.
                                    </h4>
                                    <p> Steve Smith</p>
                                </div></div></div></div><!--testimonials item like paragraph-->
                                <!--testimonials item like paragraph-->
                                <!--testimonials item like paragraph-->
                            <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--testimonials-->
            <div class="work-section-2">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center margin-btm-40">
                            <div class="section-heading text-center">
                                <h4 class="small section-title"><span>Super creative heroes</span></h4>
                                <h2 class="large section-title">Our team</h2>
                            </div>
                        </div>                                            
                    </div><!--.row-->
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="person">
                                <img src="img/team-1.jpg" class="img-responsive" alt="">
                                <div class="person-desc">
                                    <h4>Daniel Smith</h4>
                                    <em>Creative Designer</em>
                                    <p>
                                        Vivamus motestues phasellus enim sed orci eu pharetra. Donec posuere nunc vitae tortor sagittis feugiat in non massa. Quisqueeas sed mi nec.
                                    </p>
                                </div>
                            </div>
                        </div><!--team-col-->
                        <div class="col-sm-4">
                            <div class="person">
                                <img src="img/team-2.jpg" class="img-responsive" alt="">
                                <div class="person-desc">
                                    <h4>maria Smith</h4>
                                    <em>Team manager</em>
                                    <p>
                                        Vivamus motestues phasellus enim sed orci eu pharetra. Donec posuere nunc vitae tortor sagittis feugiat in non massa. Quisqueeas sed mi nec.
                                    </p>
                                </div>
                            </div>
                        </div><!--team-col-->
                        <div class="col-sm-4">
                            <div class="person">
                                <img src="img/team-3.jpg" class="img-responsive" alt="">
                                <div class="person-desc">
                                    <h4>Daniel Smith</h4>
                                    <em>Creative Designer</em>
                                    <p>
                                        Vivamus motestues phasellus enim sed orci eu pharetra. Donec posuere nunc vitae tortor sagittis feugiat in non massa. Quisqueeas sed mi nec.
                                    </p>
                                </div>
                            </div>
                        </div><!--team-col-->
                    </div>
                </div><!--.container-->
            </div><!--team section end-->
            <!--fun facts-->
            <div class=" fun-facts parallax" id="numbers" data-stellar-background-ratio="0.5" style="background-position: 50% 2882.5px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 margin-btm-20">
                            <div class="fact-inner">
                                <h2 class="counter">34565</h2>
                                <h4>Projects Complete</h4>
                            </div>
                        </div><!--fun col-->
                        <div class="col-md-3 margin-btm-20">
                            <div class="fact-inner">
                                <h2 class="counter">1599</h2>
                                <h4>Happy Customers</h4>
                            </div>
                        </div><!--fun col-->
                        <div class="col-md-3 margin-btm-20">
                            <div class="fact-inner">
                                <h2 class="counter">99999</h2>
                                <h4>Songs Listen</h4>
                            </div>
                        </div><!--fun col-->
                        <div class="col-md-3 margin-btm-20">
                            <div class="fact-inner">
                                <h2 class="counter">1255</h2>
                                <h4>Cups of coffee</h4>
                            </div>
                        </div><!--fun col-->
                    </div>
                </div>
            </div>
            <!--fun facts-->
        </section><!--#work-section-->

        <!--our work section end-->









        <!--pricing table section start here-->


        <section id="pricing" class="padding-80">



            <div class="pricing-section-1">
                <div class="container">
                    <div class="section-heading text-center">
                        <h4 class="small section-title"><span>Choose a plan</span></h4>
                        <h2 class="large section-title">Pricing Tables</h2>
                    </div><!--section heading-->
                </div><!--section heading-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="pricing-wrapper wow animated fadeInDown" data-wow-delay=".3s" style="visibility: hidden; animation-delay: 0.3s; animation-name: none;">
                                <div class="pricing-wrapper-inner">
                                    <h1>Free</h1>
                                    <h2>$00.00<small>-P/M</small></h2>
                                    <div class="price-desc">
                                        <p>15 email accounts</p>
                                        <p>10 Projects</p>
                                        <p><i class="fa fa-times"></i></p>
                                        <p><i class="fa fa-times"></i></p>
                                        <p><i class="fa fa-times"></i></p>
                                    </div>

                                    <div class="price-join">
                                        <a href="#" class="btn btn-lg btn-theme-color">Choose plan</a>
                                    </div>
                                </div>
                            </div><!--pricing wrapper-->
                        </div><!--price col-->
                        <div class="col-md-4">
                            <div class="pricing-wrapper price-popular wow animated fadeInUp" data-wow-delay=".6s" style="visibility: hidden; animation-delay: 0.6s; animation-name: none;">
                                <div class="pricing-wrapper-inner">
                                    <h1>Pro</h1>
                                    <h2>$99.99<small>-P/M</small></h2>
                                    <div class="price-desc">
                                        <p>Unlimited email accounts</p>
                                        <p>Unlimited Projects</p>
                                        <p>Unlimited Store (3 years)</p>
                                        <p>Unlimited users</p>
                                        <p>Full Support</p>
                                    </div>

                                    <div class="price-join">
                                        <a href="#" class="btn btn-lg btn-theme-color">Choose plan</a>
                                    </div>
                                </div>
                            </div><!--pricing wrapper-->
                        </div><!--price col-->
                        <div class="col-md-4">
                            <div class="pricing-wrapper wow animated fadeInRight" data-wow-delay=".9s" style="visibility: hidden; animation-delay: 0.9s; animation-name: none;">
                                <div class="pricing-wrapper-inner">
                                    <h1>Basic</h1>
                                    <h2>$49.99<small>-P/M</small></h2>
                                    <div class="price-desc">
                                        <p>Unlimited email accounts</p>
                                        <p>Unlimited Projects</p>
                                        <p>500 GB Storage</p>
                                        <p>Unlimited users</p>
                                        <p>Full Support</p>
                                    </div>

                                    <div class="price-join">
                                        <a href="#" class="btn btn-lg btn-theme-color">Choose plan</a>
                                    </div>
                                </div>
                            </div><!--pricing wrapper-->
                        </div><!--price col-->
                    </div>
                </div>
            </div><!--price section one end here-->


            <div class="pricing-section-2 parallax " data-stellar-background-ratio="0.5" style="background-position: 50% 3474.5px;">
                <div class="container text-center wow animated bounceIn" style="visibility: hidden; animation-name: none;">
                    <h1>have creative ideas? let help us </h1>
                    <p class="scrollto"><a href="#contact" class="btn btn-lg btn-theme-color">Contact us</a></p>
                </div>
            </div>

        </section> <!--pricing table section end here-->





        <section id="contact" class="padding-80">


            <div class="contact-sec-1">
                <div class="container">
                    <div class="section-heading text-center">
                        <h4 class="small section-title"><span>we Love to here from you  </span></h4>
                        <h2 class="large section-title">Contact Us</h2>
                    </div><!--section heading-->
                </div><!--.container-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>Get in touch</h4>
                            <form name="sentMessage" id="contactForm" method="post" novalidate="">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row control-group">
                                            <div class="form-group col-xs-12 controls">
                                                <label>Name<span>*</span></label>
                                                <input type="text" class="form-control" placeholder="Name" id="name" required="" data-validation-required-message="Please enter your name.">
                                                <p class="help-block"></p>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-6">
                                        <div class="row control-group">
                                            <div class="form-group col-xs-12 controls">
                                                <label>Email Address<span>*</span></label>
                                                <input type="email" class="form-control" placeholder="Email Address" id="email" required="" data-validation-required-message="Please enter your email address.">
                                                <p class="help-block"></p>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                                <div class="row control-group">
                                    <div class="form-group col-xs-12 controls">
                                        <label>Message<span>*</span></label>
                                        <textarea rows="5" class="form-control" placeholder="Message" id="message" required="" data-validation-required-message="Please enter a message."></textarea>
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                                <br>
                                <div id="success"></div>
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <button type="submit" class="btn btn-theme-color btn-lg">Send Message</button>
                                    </div>
                                </div>
                            </form>
                            <!--contact form-->
                        </div>
                        <div class="col-md-4">
                            <h4>Contact info</h4>
                            <div class="contact-info wow animated fadeInRight" data-wow-delay=".6s" style="visibility: hidden; animation-delay: 0.6s; animation-name: none;">
                                <p><i class="fa fa-home"></i> 124,Munna wali Dhani Jaipur, India</p>
                                <p><i class="fa fa-home"></i> +91 141-1234567890</p>
                                <p><b>Fax:</b> +91 1234567890</p>
                                <p><i class="fa fa-envelope"></i> <a href="#">mail@domain.com</a></p>
                                <p><i class="fa fa-clock-o"></i> Monday-Friday 9:30-5:30pm</p>
                                <hr>
                                <h4>Elsewhere</h4>
                                <ul class="list-inline social-colored"> 
                                    <li><a href="#"><i class="fa fa-facebook icon-fb" data-toggle="tooltip" title="" data-original-title="Facebook" data-placement="top"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter icon-twit" data-toggle="tooltip" title="" data-original-title="Twitter" data-placement="top"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus icon-plus" data-toggle="tooltip" title="" data-original-title="Google pluse" data-placement="top"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin icon-in" data-toggle="tooltip" title="" data-original-title="Linkedin" data-placement="top"></i></a></li>

                                </ul> <!--colored social-->
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--Contact-sec-1 end-->

        </section><!--contact section end-->
        <div id="map-canvas" style="width: 100%; height: 350px; position: relative; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223);"><div class="gm-style" style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0;"><div style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0;"><div style="position: absolute; left: 0px; top: 0px; z-index: 1; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);"><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: 878px; top: -134px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: 878px; top: 122px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: 622px; top: -134px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: 622px; top: 122px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: 366px; top: 122px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: 366px; top: -134px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: 110px; top: 122px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: 110px; top: -134px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: -146px; top: -134px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: -146px; top: 122px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: 1134px; top: -134px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: 1134px; top: 122px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: 1390px; top: -134px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: 1390px; top: 122px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: 1646px; top: -134px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: 1646px; top: 122px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: 1902px; top: -134px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: 1902px; top: 122px;"></div></div></div></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: -1;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"><div style="width: 256px; height: 256px; overflow: hidden; transform: translateZ(0px); position: absolute; left: 878px; top: -134px;"></div><div style="width: 256px; height: 256px; overflow: hidden; transform: translateZ(0px); position: absolute; left: 878px; top: 122px;"><canvas draggable="false" height="256" width="256" style="-webkit-user-select: none; position: absolute; left: 0px; top: 0px; height: 256px; width: 256px;"></canvas></div><div style="width: 256px; height: 256px; overflow: hidden; transform: translateZ(0px); position: absolute; left: 622px; top: -134px;"></div><div style="width: 256px; height: 256px; overflow: hidden; transform: translateZ(0px); position: absolute; left: 622px; top: 122px;"></div><div style="width: 256px; height: 256px; overflow: hidden; transform: translateZ(0px); position: absolute; left: 366px; top: 122px;"></div><div style="width: 256px; height: 256px; overflow: hidden; transform: translateZ(0px); position: absolute; left: 366px; top: -134px;"></div><div style="width: 256px; height: 256px; overflow: hidden; transform: translateZ(0px); position: absolute; left: 110px; top: 122px;"></div><div style="width: 256px; height: 256px; overflow: hidden; transform: translateZ(0px); position: absolute; left: 110px; top: -134px;"></div><div style="width: 256px; height: 256px; overflow: hidden; transform: translateZ(0px); position: absolute; left: -146px; top: -134px;"></div><div style="width: 256px; height: 256px; overflow: hidden; transform: translateZ(0px); position: absolute; left: -146px; top: 122px;"></div><div style="width: 256px; height: 256px; overflow: hidden; transform: translateZ(0px); position: absolute; left: 1134px; top: -134px;"></div><div style="width: 256px; height: 256px; overflow: hidden; transform: translateZ(0px); position: absolute; left: 1134px; top: 122px;"></div><div style="width: 256px; height: 256px; overflow: hidden; transform: translateZ(0px); position: absolute; left: 1390px; top: -134px;"></div><div style="width: 256px; height: 256px; overflow: hidden; transform: translateZ(0px); position: absolute; left: 1390px; top: 122px;"></div><div style="width: 256px; height: 256px; overflow: hidden; transform: translateZ(0px); position: absolute; left: 1646px; top: -134px;"></div><div style="width: 256px; height: 256px; overflow: hidden; transform: translateZ(0px); position: absolute; left: 1646px; top: 122px;"></div><div style="width: 256px; height: 256px; overflow: hidden; transform: translateZ(0px); position: absolute; left: 1902px; top: -134px;"></div><div style="width: 256px; height: 256px; overflow: hidden; transform: translateZ(0px); position: absolute; left: 1902px; top: 122px;"></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"><div style="transform: translateZ(0px); position: absolute; left: 878px; top: -134px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i1322!3i3176!4i256!2m3!1e0!2sm!3i336010565!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=50168" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="transform: translateZ(0px); position: absolute; left: 878px; top: 122px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i1322!3i3177!4i256!2m3!1e0!2sm!3i336010565!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=86189" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="transform: translateZ(0px); position: absolute; left: 622px; top: -134px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i1321!3i3176!4i256!2m3!1e0!2sm!3i336010565!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=103711" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="transform: translateZ(0px); position: absolute; left: 622px; top: 122px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i1321!3i3177!4i256!2m3!1e0!2sm!3i336010565!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=8661" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="transform: translateZ(0px); position: absolute; left: 366px; top: 122px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i1320!3i3177!4i256!2m3!1e0!2sm!3i336010613!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=110917" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="transform: translateZ(0px); position: absolute; left: 366px; top: -134px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i1320!3i3176!4i256!2m3!1e0!2sm!3i336010757!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=1619" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="transform: translateZ(0px); position: absolute; left: 110px; top: 122px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i1319!3i3177!4i256!2m3!1e0!2sm!3i336010877!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=23774" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="transform: translateZ(0px); position: absolute; left: 110px; top: -134px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i1319!3i3176!4i256!2m3!1e0!2sm!3i336010757!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=83737" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="transform: translateZ(0px); position: absolute; left: -146px; top: -134px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i1318!3i3176!4i256!2m3!1e0!2sm!3i336010877!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=41296" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="transform: translateZ(0px); position: absolute; left: -146px; top: 122px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i1318!3i3177!4i256!2m3!1e0!2sm!3i336010877!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=77317" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="transform: translateZ(0px); position: absolute; left: 1134px; top: -134px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i1323!3i3176!4i256!2m3!1e0!2sm!3i336010180!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=119914" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="transform: translateZ(0px); position: absolute; left: 1134px; top: 122px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i1323!3i3177!4i256!2m3!1e0!2sm!3i336010253!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=22123" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="transform: translateZ(0px); position: absolute; left: 1390px; top: -134px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i1324!3i3176!4i256!2m3!1e0!2sm!3i336010180!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=66371" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="transform: translateZ(0px); position: absolute; left: 1390px; top: 122px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i1324!3i3177!4i256!2m3!1e0!2sm!3i336010253!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=99651" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="transform: translateZ(0px); position: absolute; left: 1646px; top: -134px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i1325!3i3176!4i256!2m3!1e0!2sm!3i336009029!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=81843" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="transform: translateZ(0px); position: absolute; left: 1646px; top: 122px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i1325!3i3177!4i256!2m3!1e0!2sm!3i336008092!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=92538" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="transform: translateZ(0px); position: absolute; left: 1902px; top: -134px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i1326!3i3176!4i256!2m3!1e0!2sm!3i336009029!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=28300" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="transform: translateZ(0px); position: absolute; left: 1902px; top: 122px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i1326!3i3177!4i256!2m3!1e0!2sm!3i336006941!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=51125" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 2; width: 100%; height: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 3; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);"><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div></div></div><div style="padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 256px; height: 148px; position: absolute; left: 803px; top: 85px; background-color: white;"><div style="padding: 0px 0px 10px; font-size: 16px;">Map Data</div><div style="font-size: 13px;">Map data 2016 Google</div><div style="width: 13px; height: 13px; overflow: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png" draggable="false" style="position: absolute; left: -2px; top: -336px; width: 59px; height: 492px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div><div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 167px; bottom: 0px; width: 121px;"><div draggable="false" class="gm-style-cc" style="-webkit-user-select: none; height: 14px; line-height: 14px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="width: auto; height: 100%; margin-left: 1px; background-color: rgb(245, 245, 245);"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a style="color: rgb(68, 68, 68); text-decoration: none; cursor: pointer; display: none;">Map Data</a><span>Map data 2016 Google</span></div></div></div><div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;"><div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">Map data 2016 Google</div></div><div class="gmnoprint gm-style-cc" draggable="false" style="z-index: 1000001; -webkit-user-select: none; height: 14px; line-height: 14px; position: absolute; right: 95px; bottom: 0px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="width: auto; height: 100%; margin-left: 1px; background-color: rgb(245, 245, 245);"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a href="https://www.google.com/intl/en-US_US/help/terms_maps.html" target="_blank" style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);">Terms of Use</a></div></div><div style="width: 25px; height: 25px; margin-top: 10px; overflow: hidden; display: none; margin-right: 14px; position: absolute; top: 0px; right: 0px;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/sv5.png" draggable="false" class="gm-fullscreen-control" style="position: absolute; left: -52px; top: -86px; width: 164px; height: 112px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;"></div><div draggable="false" class="gm-style-cc" style="-webkit-user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="width: auto; height: 100%; margin-left: 1px; background-color: rgb(245, 245, 245);"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a target="_new" title="Report errors in the road map or imagery to Google" href="https://www.google.com/maps/@37.397802,-121.8915755,13z/data=!10m1!1e1!12b1?source=apiv3&amp;rapsrc=apiv3" style="font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;">Report a map error</a></div></div><div class="gmnoprint" draggable="false" controlwidth="28" controlheight="93" style="margin: 10px; -webkit-user-select: none; position: absolute; bottom: 107px; right: 28px;"><div class="gmnoprint" controlwidth="28" controlheight="55" style="position: absolute; left: 0px; top: 38px;"><div draggable="false" style="-webkit-user-select: none; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; border-radius: 2px; cursor: pointer; width: 28px; height: 55px; background-color: rgb(255, 255, 255);"><div title="Zoom in" style="position: relative; width: 28px; height: 27px; left: 0px; top: 0px;"><div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl.png" draggable="false" style="position: absolute; left: 0px; top: 0px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 120px; height: 54px;"></div></div><div style="position: relative; overflow: hidden; width: 67%; height: 1px; left: 16%; top: 0px; background-color: rgb(230, 230, 230);"></div><div title="Zoom out" style="position: relative; width: 28px; height: 27px; left: 0px; top: 0px;"><div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl.png" draggable="false" style="position: absolute; left: 0px; top: -15px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 120px; height: 54px;"></div></div></div></div><div class="gm-svpc" controlwidth="28" controlheight="28" style="box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; border-radius: 2px; width: 28px; height: 28px; cursor: url(&quot;https://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;) 8 8, default; position: absolute; left: 0px; top: 0px; background-color: rgb(255, 255, 255);"><div style="position: absolute; left: 1px; top: 1px;"></div><div style="position: absolute; left: 1px; top: 1px;"><div aria-label="Street View Pegman Control" style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/cb_scout5.png" draggable="false" style="position: absolute; left: -147px; top: -26px; width: 215px; height: 835px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div aria-label="Pegman is on top of the Map" style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/cb_scout5.png" draggable="false" style="position: absolute; left: -147px; top: -52px; width: 215px; height: 835px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div aria-label="Street View Pegman Control" style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/cb_scout5.png" draggable="false" style="position: absolute; left: -147px; top: -78px; width: 215px; height: 835px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div></div><div class="gmnoprint" controlwidth="28" controlheight="0" style="display: none; position: absolute;"><div title="Rotate map 90 degrees" style="width: 28px; height: 28px; overflow: hidden; position: absolute; border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; cursor: pointer; display: none; background-color: rgb(255, 255, 255);"><img src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl4.png" draggable="false" style="position: absolute; left: -141px; top: 6px; width: 170px; height: 54px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div class="gm-tilt" style="width: 28px; height: 28px; overflow: hidden; position: absolute; border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; top: 0px; cursor: pointer; background-color: rgb(255, 255, 255);"><img src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl4.png" draggable="false" style="position: absolute; left: -141px; top: -13px; width: 170px; height: 54px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div></div><div class="gmnoprint" style="margin: 10px; z-index: 0; position: absolute; cursor: pointer; left: 0px; top: 0px;"><div class="gm-style-mtc" style="float: left;"><div draggable="false" title="Show street map" style="direction: ltr; overflow: hidden; text-align: center; position: relative; color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; -webkit-user-select: none; font-size: 11px; padding: 8px; border-bottom-left-radius: 2px; border-top-left-radius: 2px; -webkit-background-clip: padding-box; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; min-width: 22px; font-weight: 500; background-color: rgb(255, 255, 255); background-clip: padding-box;">Map</div><div style="z-index: -1; padding: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; position: absolute; left: 0px; top: 31px; text-align: left; display: none; background-color: white;"><div draggable="false" title="Show street map with terrain" style="color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; -webkit-user-select: none; font-size: 11px; padding: 6px 8px 6px 6px; direction: ltr; text-align: left; white-space: nowrap; background-color: rgb(255, 255, 255);"><span role="checkbox" style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; border: 1px solid rgb(198, 198, 198); border-radius: 1px; width: 13px; height: 13px; vertical-align: middle; background-color: rgb(255, 255, 255);"><div style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden; display: none;"><img src="https://maps.gstatic.com/mapfiles/mv/imgs8.png" draggable="false" style="position: absolute; left: -52px; top: -44px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 68px; height: 67px;"></div></span><label style="vertical-align: middle; cursor: pointer;">Terrain</label></div></div></div><div class="gm-style-mtc" style="float: left;"><div draggable="false" title="Show satellite imagery" style="direction: ltr; overflow: hidden; text-align: center; position: relative; color: rgb(86, 86, 86); font-family: Roboto, Arial, sans-serif; -webkit-user-select: none; font-size: 11px; padding: 8px; border-bottom-right-radius: 2px; border-top-right-radius: 2px; -webkit-background-clip: padding-box; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; border-left-width: 0px; min-width: 40px; background-color: rgb(255, 255, 255); background-clip: padding-box;">Satellite</div><div style="z-index: -1; padding: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; position: absolute; right: 0px; top: 31px; text-align: left; display: none; background-color: white;"><div draggable="false" title="Show imagery with street names" style="color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; -webkit-user-select: none; font-size: 11px; padding: 6px 8px 6px 6px; direction: ltr; text-align: left; white-space: nowrap; background-color: rgb(255, 255, 255);"><span role="checkbox" style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; border: 1px solid rgb(198, 198, 198); border-radius: 1px; width: 13px; height: 13px; vertical-align: middle; background-color: rgb(255, 255, 255);"><div style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden;"><img src="https://maps.gstatic.com/mapfiles/mv/imgs8.png" draggable="false" style="position: absolute; left: -52px; top: -44px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 68px; height: 67px;"></div></span><label style="vertical-align: middle; cursor: pointer;">Labels</label></div></div></div></div><div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;"><a target="_blank" href="https://maps.google.com/maps?ll=37.397802,-121.891575&amp;z=13&amp;t=m&amp;hl=en-US&amp;gl=US&amp;mapclient=apiv3" title="Click to see this area on Google Maps" style="position: static; overflow: visible; float: none; display: inline;"><div style="width: 66px; height: 26px; cursor: pointer;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/google4.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 66px; height: 26px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;"></div></a></div></div></div>
        <div class="contact-sec-2">
            <div class="container text-center">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="contact-col wow animated flipInY" data-wow-delay=".3s" style="visibility: hidden; animation-delay: 0.3s; animation-name: none;">
                            <i class="fa fa-phone"></i>
                            <p>+91 0141 123456789</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="contact-col wow animated flipInY" data-wow-delay=".3s" style="visibility: hidden; animation-delay: 0.3s; animation-name: none;">
                            <i class="fa fa-envelope"></i>
                            <p>mail@Domain.com</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="contact-col wow animated flipInY" data-wow-delay=".3s" style="visibility: hidden; animation-delay: 0.3s; animation-name: none;">
                            <i class="fa fa-home"></i>
                            <p>124,munnawali jaipur<br>302012, india</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--Contact-sec-1 end-->


        <section id="footer" class="padding-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 copyright">
                        <span>2014.Design_mylife. All right reserved</span>
                    </div>
                    <div class="col-md-6 col-sm-6 footer-nav">
                        <ul class="list-inline">
                            <li><a href="demo-default.html">Home</a></li>
                            <li><a href="blog-list.html">Latest news</a></li>
                            <li><a href="typography.html">Typography</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section><!--footer end-->
        <!--back to top-->
        <a href="#" class="scrollToTop" style="display: none;"><i class="fa fa-angle-up"></i></a>
        <!--back to top end-->


    

</body>



